.home-container {
    padding: 40px;
}

.description {
    margin-bottom: 15px;

    h1 {
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 64px;
        color: #000000;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #7E7E7E;
    }
}

.start-button {
    color: #fff;
}